body {
	background-image:url(pattern2.jpg);
	background-color:#5e3a1c;
	background-repeat:repeat;

}

#container {
	width:900px;
	margin:auto;
}

#live {
	float:left;
}

#tfheader {
	float:right;
}

#clear {
	clear:both;
}

.therest {
	margin-top:20px;
}

#heading {
	font-size:25px;
	color:;
	margin:auto;
}

#list .drinklink {
	float:left;
	margin-left:50px;
	margin-top:50px;
}

.drinklink a {
	text-decoration:none;
	color:black;
	font-size:18px;

}

.drinklink {
	padding:13px;
	background-color:#740007;
	overflow:auto;
}

.drinklink:hover {
	background-color:#97040d;
}

.drinklink img	{
	width:200px;
	height:150px;
}

footer {
	font-size:11px;
	padding-top:20px;
	clear:both;
}

.Drinkname {
	font-size:40px;
	text-align:center;
	color:#97040d;

}

/*Rotation Photos*/
#faded .slides {
	border:solid 10px purple;
	width:600px;
	height:300px;
	position:relative;
	margin: 25px auto;
}
#faded .slides img {
	position: absolute;
	top:0px;
	left:0px;
}

/*Photos*/
.enlarged img {
	display:block;
	margin: 25px auto;
}
.gallery {
	text-align: center;
	margin-bottom: 25px;
}
.gallery img {
	display: inline-block;
	position: relative;
	width: 125px;
}

/*Search Bar*/
#tfnewsearch{
	float:right;
	padding:20px;
}
.tftextinput{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #740007; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.tfbutton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color:black;
	border: solid 1px #740007; border-right:0px;
	background: #740007;
	background: -webkit-gradient(linear, left top, left bottom, from(#740007), to(#8b0008));
	background: -moz-linear-gradient(top,  #740007,  #8b0008);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
	text-decoration: none;
	background: #740007;
	background: -webkit-gradient(linear, left top, left bottom, from(#740007), to(#a40009));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
	clear:both;
}